@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:	#d5c1f4;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.fixing{
  margin-top: 400px;
}

.displayBox{
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  margin: 15px;
  height:40vh;

  box-shadow: 5px 5px 10px rgb(131, 131, 131);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayBox i{
  font-size: 1.6rem;
  padding: 0px 30px;
}
.displayBox b{
  font-size: 1.3rem;
}

nav{
  background-color: #fff;
  width: 100%;
  height: 13vh;
  top: 20px;
  left: 0;
  position: fixed;
  box-shadow: 5px 5px 10px rgb(131, 131, 131);
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  background-color: #d5c1f4;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

button:hover{
  background-color: #bba1e2;
}

.flexEditor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.box{
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  height: 35vh;
  margin: 10px;

  box-shadow: 5px 5px 10px rgb(131, 131, 131);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formStyle h1{
  color: #d5c1f4;
  font-size: 1.5rem;
}

.formStyle input{
  border:solid 5px #d5c1f4;
  border-radius: 10px;
  padding-left: 10px;
  margin: 5px 20px;
}

#flex{
  display: flex;
}

.back{
  background-color: #fff;
  color: #d5c1f4;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 5px 10px rgb(131, 131, 131);
}

.back:hover{
  background-color: #e8e8e8;
}

/* @media only screen and (max-width: 600px) {
  .box{
     margin-top: 100px;
  }
} */